@{
    ViewData["Title"] = "Home Page";
}
@model Post

<h1>AddPost</h1>

<form asp-controller="Post" asp-action="Add" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" asp-items="ViewBag.categories" class="form-select" aria-label="Default select example">
        </select>
    </div>
    <div class="form-group">
        <label asp-for="PostTags"></label>
        <select name="tags" asp-items="ViewBag.tags" multiple class="form-select chosen-select" aria-label="Default select example">
        </select>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" name="Image" type="file" id="formFile">
    </div>
    <div class="form-group">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" rows="10"></textarea>
    </div>
    <button class="btn btn-outline-primary w-25 mt-2">Add</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
    <script src="https://cdn.tiny.cloud/1/g9zqwp7tm78tvvxftg4se9v6vhuujkn4dh5xzh6kfr7kxcg6/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        $(".chosen-select").chosen({ no_results_text: "Oops, nothing found!" });

        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
}
